/*
* Style-sheet to control the display of the smaller devices.
*/
body
{
width:100%;
}

/*#content*/
.site-description
{
position:relative;
left:1%;
}
#content
{
position:relative;
top:4px;
left:5%;
background:rgb(254,254,254);
right:5%;
max-width:90%;
min-width:90%;
word-wrap: break-word;
}
#menu,.right
{display:none;}
/*site-tile*/
.site-title > a
{
text-decoration:none;
}
.linkab
{
color:rgb(128,128,192);
text-decoration:underline;
}
.side-head
{
color:green;
text-align:center;
}
.site-title
{
display:inline;
text-transform:capitalize;
}
.site-description
{
font-family:Garamond;
font-size:12px;
}
/*.time*/
.time-pic
{
height:15px;
width:15px;
}
.author-pic
{
height:13px;
width:10px;
}
.cat-pic
{
height:15px;
width:20px;
}
#leftContent
{
word-wrap: break-word;
position:relative;
width:96%;
margin:auto;
}

 .categ
{
color:green;
}
.linka, .linka a ,.site-title a 
{
text-decoration:none;
color:green;
}
.linkb
{
text-decoration:none;
color:blue;
}
.linkb:hover
{
text-decoration:underline;
}
.linka a:hover
{
text-decoration:underline;
}
.lnk:hover
{
text-decoration:underline;
}
.lnk, .side-head
{
text-transform:uppercase;
}
.content-post
{
font-family:Georgia;
font-size:16px;
}
.header
{
position:relative;
left:2px;
top:5px;
}

.recent-single-a, .categories a
{
text-decoration:none;
text-transform:capitalize;
color:blue;
}
.recent-single-a:hover
{
text-decoration:underline;
color:green;
}
.categories a:hover
{
text-decoration:underline;
color:green;
}
.content-error
{
font-family:verdana;
color:rgb(205,36,219);
}
#erral
{
position:relative;
top:30px;
}
.top-bar
{
min-width:96%;
max-width:98%;
font-size:8px;
background:rgb(234,238,238);
border-top-color:black;
border-top-style:solid;
border-top-width:2px;
border-bottom-color:black;
border-bottom-style:solid;
border-bottom-width:2px;
}
.top-bar a 
{
text-decoration:none;
}
.idle
{
text-decoration:none;
text-transform:capitalize;
color:black;
font-family:Informal Roman,Copperplate Gothic Bold,Calibri;
}
.idle:hover
{
color:rgb(155,210,81);
text-decoration:underline;
}
.no-list
{
list-style:none;
list-style-position:none;
text-decoration:none;
padding:0px;
margin:0px;
}
.smaller
{
font-size:21px;
}
.commentlist
{
list-style:none;
}
#commentform input[type=text]
{
width:94%;
height:30px;
border-radius:3px;
border-width:2px;
}
#commentform input:focus
{
border-color:green;
color:green;
background:rgb(234,238,238);
color:black;
font-family:Calibri;
}
#commentform textarea
{
width:94%;
border-radius:3px;
border-width:2px;
}
#commentform textarea:focus
{
border-color:green;
background:rgb(234,238,238);
color:black;
font-family:Calibri;
}
.comment-body
{
margin-bottom:5px;
text-align:5px;
}
#respond h3,#comments
{
color:green;
}
#commentform input[type=submit]
{
background:green;
border:ridge;
border-width:3px;
border-color:green;
border-radius:5px;
text-decoration:bold;
color:white;
}
#post_nav
{
text-decoration:bold;
}
#post_nav a
{
color:green;
text-transform:lowercase;
text-decoration:none;
}
#post_nav a:hover
{
text-decoration:underline;
color:blue;
}
.previous_post
{
}
.next_post
{
position:absolute;
right:0px;
}
#related_post_title a 
{
text-decoration:none;
color:blue;
}
#related_post_title a:hover
{
text-decoration:underline;
color:green;
}

.lucida
{
font-family:Lucida Calligraphy;
}
.logname
{
color:rgb(7,182,3);
text-decoration:bold;
}
.log a 
{
text-decoration:none;
font-family:Lucida Calligraphy;
}
.log a:hover
{
color:black;
text-decoration:underline;
}
.title
{
text-transform:capitalize;
}
#footba
{
bottom:0px;
min-height:10px;
}
.nav-links a
{
text-decoration:none;
color:blue;
}
.nav-links a:hover
{
text-decoration:underline;
color:green;
}
